{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin n°' ~ pin.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
        <h1>Edit Pin</h1>

        {{ include('pins/_form.html.twig', {"submitButtonText": "Edit Pin"}) }}
        </div>
    </div>
{% endblock %}