@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '_shared/variables';
@import "~bootstrap";

html, body {
    font-family: $primary-font, sans-serif;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
        background-color: mediumseagreen;
    }
    &.alert-error {
        background-color: indianred;
    }
    &.alert-info {
        background-color: steelblue;
    }
}